@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Raleway:wght@400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --lightblue: hsl(210, 96%, 61%);
    --offblack: hsl(219, 22%, 25%);
    --logogray: hsl(214, 7%, 62%);
    --textgray: hsl(214, 5%, 53%);
    --lightgray: hsl(210, 16%, 94%);
    --otherblue: hsl(210, 95%, 71%);
    --green: hsl(144, 68%, 52%);
    --red: hsl(0, 93%, 57%);
}

.grid-container {
    display: grid;
    grid-template-columns: 0.2306fr 0.5819fr 0.1875fr;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

/* Sidebar styling starts here */

.sidebar {
    display: grid;
    /* grid-template-rows: 0.0889fr 0.38867fr 0.3506fr 0.1768fr; */
    grid-template-rows: 10.8% 39.4% 42.18% 7.5%;
    padding: 3rem 4.5rem 1rem 1.5rem;
    width: 100%;
    height: 100vh;
}

.logo {
    grid-row: 1 / 1;
    display: flex;
    padding-bottom: 2rem;
}

.top-side {
    grid-row: 2 / 2;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.6rem;
}

.mid-side {
    grid-row: 3 / 3;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.6rem;
}

#logout {
    grid-row: 4 / -1;
    align-self: end;
}

.side-btn,
.logo {
    gap: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    border-radius: 2.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 6.7rem;
}

.side-btn>svg>path {
    fill: var(--logogray);
}

.logout>svg>path,
.wallet>svg>path {
    fill: none;
    stroke: var(--logogray);
}

.side-text {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    color: var(--textgray);
    font-weight: 400;
}

.logo-text {
    font-family: "Raleway", sans-serif;
    font-size: 3.1rem;
    color: var(--offblack);
    font-weight: 400;
}

.logo-text>span {
    font-weight: 700;
}

/* Main styling starts here */

.main {
    background-color: var(--lightgray);
    margin: 1.5rem 0 1.5rem 0;
    border-radius: 3rem;
    display: grid;
    padding: 6rem 3rem 4.5rem 3rem;
    grid-template-rows: 17% 83%;
}

.top-main {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.search-bar {
    width: 25.5rem;
    height: 4.8rem;
    margin-top: 0.6rem;
    display: flex;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 4rem;
}

#search {
    color: var(--offblack);
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    outline: none;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

#search::placeholder {
    color: var(--offblack);
}

#search-icon-btn {
    background-color: transparent;
    border: none;
    padding: 0 1.5rem 0 1.5rem;
}

#search-icon-btn:hover {
    cursor: pointer;
}

h1 {
    font-size: 5.2rem;
    color: var(--offblack);
    font-family: "Raleway", sans-serif;
    font-weight: 900;
}

.card-container {
    display: grid;
    gap: 2.9rem;
    /* grid-template-columns: repeat(auto-fill, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: 1fr 1fr;
    overflow: auto;
}

.card {
    border-radius: 2.5rem 2.5rem 2rem 2rem;
    background-color: var(--offblack);
    display: flex;
    flex-direction: column;
}

.nft-pic {
    border-radius: 2rem 2rem 0 0;
    height: 63%;
    width: auto;
}

.bot-card {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 2.2rem;
}

.collection {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--otherblue);
    font-size: 1.4rem;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.price-text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 2.4rem;
}

.change-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.change {
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
}

.positive {
    color: var(--green);
    fill: var(--green);
}

.negative {
    color: var(--red);
    fill: var(--red);
}

.none-here {
    border-radius: 2.5rem;
    background-color: hsl(219, 22%, 25%, 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.open-slot {
    font-size: 6rem;
    text-align: center;
    line-height: 6.5rem;
}

/* Final side section styling starts here */

.sidecard-container {
    padding: 4.5rem 1.4rem 0 1.4rem;
}

h2 {
    font-size: 2.8rem;
    color: var(--offblack);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
}

.msg-card-container {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    gap: 3rem;
}

.msg {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
    background-color: var(--lightgray);
    border-radius: 3rem;
}

.msg-top {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

h4 {
    font-size: 2.8rem;
    color: var(--offblack);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.msg-p {
    font-size: 2rem;
    color: var(--offblack);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.profile {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.ticker {
    color: var(--lightblue);
    cursor: pointer;
}